*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #73879C;
}

.box-owo {
  position: relative;
  overflow: hidden;
}

.box-owo:hover .position-one {
  top: 0%;
  left: 0%;
  opacity: 1;
}

.box-owo:hover .position-two {
  top: 0%;
  right: 0%;
  opacity: 1;
}

.box-owo:hover .position-three {
  bottom: 0%;
  left: 0%;
  opacity: 1;
}

.box-owo:hover .position-four {
  bottom: 0%;
  right: 0%;
  opacity: 1;
}

.box-owo:hover .position-one::before {
  opacity: 1;
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  cursor: pointer;
}

.box-owo:hover .position-one::after {
  opacity: 1;
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  cursor: pointer;
}

.box-owo:hover .position-two::before {
  opacity: 1;
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  cursor: pointer;
}

.box-owo:hover .position-two::after {
  opacity: 1;
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  cursor: pointer;
}

.box-owo:hover .position-three::before {
  opacity: 1;
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  cursor: pointer;
}

.box-owo:hover .position-three::after {
  opacity: 1;
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  cursor: pointer;
}

.box-owo:hover .position-four::before {
  opacity: 1;
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  cursor: pointer;
}

.box-owo:hover .position-four::after {
  opacity: 1;
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  cursor: pointer;
}

.box-owo .position-main {
  width: 50%;
  height: 50%;
  background-color: rgba(0, 188, 156, 0.8);
  position: absolute;
  -webkit-transition: .9s;
  transition: .9s;
  opacity: 0;
}

.box-owo .position-one {
  top: -100%;
  left: -100%;
}

.box-owo .position-one::before {
  content: "";
  width: 10%;
  height: 1.3%;
  background-color: #fff;
  position: absolute;
  bottom: 0%;
  right: 0%;
  border-top-left-radius: .5rem;
  opacity: 0;
}

.box-owo .position-one::after {
  content: "";
  width: 1.3%;
  height: 10%;
  background-color: #fff;
  position: absolute;
  bottom: 0%;
  right: 0%;
  border-top-left-radius: .5rem;
  opacity: 0;
}

.box-owo .position-two {
  top: -100%;
  right: -100%;
}

.box-owo .position-two::before {
  content: "";
  width: 10%;
  height: 1.3%;
  background-color: #fff;
  position: absolute;
  bottom: 0%;
  left: 0%;
  border-top-right-radius: .5rem;
  opacity: 0;
}

.box-owo .position-two::after {
  content: "";
  width: 1.3%;
  height: 10%;
  background-color: #fff;
  position: absolute;
  bottom: 0%;
  left: 0%;
  border-top-right-radius: .5rem;
  opacity: 0;
}

.box-owo .position-three {
  bottom: -100%;
  left: -100%;
}

.box-owo .position-three::before {
  content: "";
  width: 10%;
  height: 1.3%;
  background-color: #fff;
  position: absolute;
  top: 0%;
  right: 0%;
  border-bottom-left-radius: .5rem;
  opacity: 0;
}

.box-owo .position-three::after {
  content: "";
  width: 1.3%;
  height: 10%;
  background-color: #fff;
  position: absolute;
  top: 0%;
  right: 0%;
  border-bottom-left-radius: .5rem;
  opacity: 0;
}

.box-owo .position-four {
  bottom: -100%;
  right: -100%;
}

.box-owo .position-four::before {
  content: "";
  width: 10%;
  height: 1.3%;
  background-color: #fff;
  position: absolute;
  top: 0%;
  left: 0%;
  border-bottom-right-radius: .5rem;
  opacity: 0;
}

.box-owo .position-four::after {
  content: "";
  width: 1.3%;
  height: 10%;
  background-color: #fff;
  position: absolute;
  top: 0%;
  left: 0%;
  border-bottom-right-radius: .5rem;
  opacity: 0;
}

header .head-town {
  background-color: #F5F7FA;
  border-bottom: .1rem solid #E6E9ED;
}

header .head-town .bot-header {
  height: 4.0rem;
  font-size: 1.2rem;
}

header .head-town .bot-header .nav a {
  text-decoration: none;
  color: #506A85;
}

header .head-town .bot-header .nav-top .nav-left {
  margin-right: 3.0rem;
}

header .head-town .bot-header .nav-top .nav-left a:not(:last-child),
header .head-town .bot-header .nav-top .nav-right a:not(:last-child) {
  margin-right: 1.0rem;
}

header .head-town .bot-header .nav-left a, header .head-town .bot-header .nav-right a {
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .head-town .bot-header .nav-left:hover a, header .head-town .bot-header .nav-right:hover a {
  color: #00BC9C;
}

header .head-town .bot-header .bottom-nav a {
  width: 3rem;
  height: 4rem;
  text-decoration: none;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .7s;
  transition: all .7s;
}

header .head-town .bot-header .bottom-nav a:hover i {
  color: #fff;
}

header .head-town .bot-header .bottom-nav .icon-one:hover {
  background-color: #4668B3;
}

header .head-town .bot-header .bottom-nav .icon-two:hover {
  background-color: #DE5745;
}

header .head-town .bot-header .bottom-nav .icon-three:hover {
  background-color: #2FBBED;
}

header .head-town .bot-header .bottom-nav .icon-four:hover {
  background-color: #D94348;
}

header .head-town .bot-header .bottom-nav .icon-five:hover {
  background-color: #3079FF;
}

header .head-town .bot-header .bottom-nav .icon-six:hover {
  background-color: #EB6397;
}

header .don-header {
  color: #506A85;
  height: 11.2rem;
}

header .don-header ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .don-header ul .main-items {
  list-style: none;
}

header .don-header ul .main-items:nth-child(5) {
  position: relative;
}

header .don-header ul .main-items:nth-child(5):hover .droop-down {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

header .don-header ul .main-items:nth-child(5) .main-items-link {
  background-color: #fff;
  position: relative;
  z-index: 10;
}

header .don-header ul .main-items:nth-child(5) .main-items-link:hover {
  border-bottom: #fff;
}

header .don-header ul .main-items:nth-child(5) .droop-down {
  background-color: #fff;
  width: 117rem;
  height: 41.9rem;
  border: .1rem solid #E6E9ED;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 6.1rem;
  left: -68rem;
  z-index: 15;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

header .don-header ul .main-items:nth-child(5) .droop-down:hover .style-dropbox::before {
  left: 0;
  opacity: 1;
}

header .don-header ul .main-items:nth-child(5) .droop-down:hover .style-dropbox::after {
  right: 0;
  opacity: 1;
}

header .don-header ul .main-items:nth-child(5) .droop-down .style-dropbox {
  width: 11.2rem;
  height: .1rem;
  background-color: #fff;
  position: absolute;
  top: -.1rem;
  left: 68rem;
  overflow: hidden;
}

header .don-header ul .main-items:nth-child(5) .droop-down .style-dropbox::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #00BC9C;
  top: 0;
  left: -50%;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

header .don-header ul .main-items:nth-child(5) .droop-down .style-dropbox::after {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #00BC9C;
  top: 0;
  right: -50%;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box {
  width: 25rem;
  height: 34rem;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-one .heading-mini {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #506A85;
  text-transform: uppercase;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-one .gallery-mini {
  width: 24.0rem;
  height: 16.4rem;
  background-color: green;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-one .gallery-mini img {
  width: 100%;
  height: 100%;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-one .para-mini {
  font-size: 1.4rem;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-one .button-mini {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1.6rem 2.0rem;
  text-decoration: none;
  background-color: #00BC9C;
  border-radius: .5rem;
  color: #fff;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transition: .3s;
  transition: .3s;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-one .button-mini:hover {
  background-color: #17A78B;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-two .heading-poor {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #506A85;
  text-transform: uppercase;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-two .poor-items {
  margin: 0;
  padding: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 2.6rem;
  display: inline-block;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-two .poor-items .poor-items-child {
  list-style: none;
  position: relative;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-two .poor-items .poor-items-child::before {
  content: "\f111";
  color: #00BC9C;
  font-family: "Font Awesome 5 Pro";
  font-size: .7rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: -1.5rem;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-two .poor-items .poor-items-child .poor-link-child {
  color: #73879C;
  font-size: 1.4rem;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-two .poor-items .poor-items-child .poor-link-child:hover {
  color: #00BC9C;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-three .heading-teen {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #506A85;
  text-transform: uppercase;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-three .gallery-box-teen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 24.1rem;
  height: 24.7rem;
  margin-top: 2.6rem;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-three .gallery-box-teen .teen-point-picture {
  width: 11.5rem;
  height: 8.1;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-three .gallery-box-teen .teen-point-picture img {
  width: 100%;
  height: 100%;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-four .heading-boom {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #506A85;
  text-transform: uppercase;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-four .para-boom {
  font-size: 1.4rem;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-four .para-boom span {
  display: inline-block;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-four .para-boom span:not(:last-child) {
  margin-bottom: 2.5rem;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-four .button-boom {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1.6rem 2.0rem;
  text-decoration: none;
  background-color: #00BC9C;
  border-radius: .5rem;
  color: #fff;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transition: .3s;
  transition: .3s;
}

header .don-header ul .main-items:nth-child(5) .droop-down .drop-box-four .button-boom:hover {
  background-color: #17A78B;
}

header .don-header ul .main-items:not(:last-child) {
  margin-right: .5rem;
}

header .don-header ul .main-items .main-items-link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #506A85;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 2rem 2.2rem;
  border-radius: .5rem;
  border: .1rem solid #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .don-header ul .main-items .main-items-link:hover {
  border: .1rem solid #E6E9ED;
  color: #00BC9C;
}

header .don-header .search i {
  font-size: 1.2rem;
  cursor: pointer;
}

.section-main {
  background-image: url(../img/home-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-main .mind-fixed {
  width: 100%;
  height: 88rem;
  position: relative;
}

.section-main .mind-fixed .section-box {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.section-main .mind-fixed .section-box .heading-box {
  font-family: "Lato", sans-serif;
  font-size: 7.8rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .7rem;
}

.section-main .mind-fixed .section-box .pra-box {
  font-size: 2.4rem;
  color: #A3B1BF;
  margin-top: 3.7rem;
  margin-bottom: 7.0rem;
  letter-spacing: .2rem;
}

.section-main .mind-fixed .section-box a {
  padding: 2.5rem 7.2rem;
  background-color: #00BC9C;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  border-radius: .5rem;
}

.section-start {
  margin: 13rem 0rem;
}

.section-start .section-moon {
  text-align: center;
}

.section-start .section-moon .heading-moon {
  font-size: 4.4rem;
  color: #506A85;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
}

.section-start .section-moon .para-moon {
  font-size: 2.2rem;
  margin: 4.2rem 0rem 8.5rem 0rem;
}

.section-start .section-sun .sun-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-start .section-sun .sun-one .sun-one-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23%;
          flex: 0 0 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-start .section-sun .sun-one .sun-one-left .icon {
  width: 5.7rem;
  height: 5.7rem;
  fill: #00BC9C;
}

.section-start .section-sun .sun-one .sun-one-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 77%;
          flex: 0 0 77%;
}

.section-start .section-sun .sun-one .sun-one-right .heading-sun {
  font-size: 2.6rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #506A85;
  text-transform: capitalize;
  margin-bottom: 3rem;
}

.section-start .section-sun .sun-one .sun-one-right .para-sun {
  font-size: 1.6rem;
}

.section-power {
  padding: 13rem 0rem;
  background-color: #F2F5F7;
}

.section-power .top-power {
  text-align: center;
  margin-bottom: 8rem;
}

.section-power .top-power .power-head {
  color: #506A85;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 4.4rem;
  text-transform: capitalize;
}

.section-power .top-power .power-para {
  font-size: 2.2rem;
  margin-top: 4rem;
}

.section-power .middle-power {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-power .middle-power figure {
  -ms-flex-preferred-size: calc(50% - 1.5rem);
      flex-basis: calc(50% - 1.5rem);
  border: .1rem solid #E6E9ED;
  border-radius: .5rem;
}

.section-power .middle-power figure figcaption {
  text-align: center;
  margin: 3.5rem 0rem;
}

.section-power .middle-power figure figcaption h3 {
  font-family: "Lato", sans-serif;
  color: #506A85;
  font-size: 2.0rem;
  font-weight: 900;
}

.section-power .middle-power figure figcaption p {
  font-size: 1.4rem;
  margin-top: 1.7rem;
}

.section-power .bottom-power {
  padding: 0;
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-power .bottom-power .top-boot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-power .bottom-power .bottom-boot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4.5rem;
}

.section-power .bottom-power .bottom-boot .bullet {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #506A85;
  cursor: pointer;
}

.section-power .bottom-power .bottom-boot .bullet:not(:last-child) {
  margin-right: 1rem;
}

.section-end .polo-container {
  height: 48rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section-end .polo-container .end-box {
  text-align: center;
}

.section-end .polo-container .end-box h2 {
  font-size: 4.4rem;
  font-weight: 900;
  color: #506A85;
  text-transform: capitalize;
}

.section-end .polo-container .end-box p {
  font-size: 2.2rem;
  margin-top: 4.5rem;
}

.section-end .polo-container .button-sun {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-end .polo-container .button-sun .button-moon {
  padding: 1.9rem 2.7rem;
  background-color: #00BC9C;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  border-radius: .5rem;
  text-transform: uppercase;
}

footer .footer-top {
  background-color: #2F4052;
  padding: 7.5rem;
}

footer .footer-top .footer-top-main {
  height: 36.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .footer-top .footer-top-main .foot-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27rem;
          flex: 0 0 27rem;
}

footer .footer-top .footer-top-main .foot-box-one {
  height: 21.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-top .footer-top-main .foot-box-one .heading-boost {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

footer .footer-top .footer-top-main .foot-box-one .para-boost {
  color: #A3B1BF;
  font-size: 1.4rem;
}

footer .footer-top .footer-top-main .foot-box-one .button-boost {
  color: #A3B1BF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
}

footer .footer-top .footer-top-main .foot-box-two {
  height: 21.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-top .footer-top-main .foot-box-two .heading-point {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

footer .footer-top .footer-top-main .foot-box-two .gallery-point {
  width: 25.5rem;
  height: 17.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

footer .footer-top .footer-top-main .foot-box-three {
  height: 21.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-top .footer-top-main .foot-box-three .heading-turbo {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

footer .footer-top .footer-top-main .foot-box-three .para-turbo {
  color: #A3B1BF;
  font-size: 1.4rem;
  margin: 2.2rem 0rem;
}

footer .footer-top .footer-top-main .foot-box-three .menu-turbo ul {
  margin: 0;
  padding: 0;
}

footer .footer-top .footer-top-main .foot-box-three .menu-turbo ul li {
  list-style: none;
}

footer .footer-top .footer-top-main .foot-box-three .menu-turbo ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #A3B1BF;
}

footer .footer-top .footer-top-main .foot-box-three .menu-turbo ul li a i {
  margin-right: 1.2rem;
}

footer .footer-top .footer-top-main .foot-box-four {
  height: 21.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-top .footer-top-main .foot-box-four .heading-turn {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

footer .footer-top .footer-top-main .foot-box-four .para-turn {
  color: #A3B1BF;
  font-size: 1.4rem;
  margin: 2.2rem 0rem;
}

footer .footer-top .footer-top-main .foot-box-four .form-turn {
  width: 27rem;
  height: 4rem;
  background-color: #fff;
  position: relative;
  border-radius: .5rem;
  overflow: hidden;
}

footer .footer-top .footer-top-main .foot-box-four .form-turn .mail {
  color: #828E99;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  position: absolute;
  outline: none;
  top: 0;
  left: 0;
  font-size: 1.4rem;
  border: none;
  display: inline-block;
}

footer .footer-top .footer-top-main .foot-box-four .form-turn .submit {
  width: 8.8rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  right: .5rem;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  background-color: #00BC9C;
  border: none;
  outline: none;
  display: inline-block;
  text-transform: uppercase;
}

footer .footer-down {
  background-color: #283645;
}

footer .footer-down .foot-pro {
  height: 8.4rem;
  color: #707E8C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-down .foot-pro .copyright {
  font-size: 1.4rem;
}

footer .footer-down .foot-pro .pro-nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-down .foot-pro .pro-nav ul li {
  list-style: none;
}

footer .footer-down .foot-pro .pro-nav ul li:not(:last-child) {
  margin-right: 2.4rem;
}

footer .footer-down .foot-pro .pro-nav ul li a {
  color: #707E8C;
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: capitalize;
}

.fixed-box {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3C5065;
  text-decoration: none;
  border-radius: .5rem;
  position: fixed;
  right: 2rem;
  bottom: 2.2rem;
}

.fixed-box i {
  font-size: 2.5rem;
  font-weight: 500;
  color: #949BA2;
}
/*# sourceMappingURL=main.css.map */