.section-power {
    padding: 13rem 0rem;
    background-color: $color-section-background;

    & .top-power {
        text-align: center;
        margin-bottom: 8rem;

        & .power-head {
            color: $color-primary;
            font-family: $font-lato;
            font-weight: 900;
            font-size: 4.4rem;
            text-transform: capitalize;
        }

        & .power-para {
            font-size: 2.2rem;
            margin-top: 4rem;
        }
    }

    & .middle-power {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        figure {
            flex-basis: calc(50% - 1.5rem);
            border: .1rem solid #E6E9ED;
            border-radius: .5rem;

            &:hover figcaption h3{
                color: $color-button;
            }

            figcaption {
                text-align: center;
                margin: 3.5rem 0rem;

                h3 {
                    font-family: $font-lato;
                    color: $color-primary;
                    font-size: 2.0rem;
                    font-weight: 900;
                    transition: .3s;
                }

                p {
                    font-size: 1.4rem;
                    margin-top: 1.7rem;
                }
            }
        }
    }

    & .bottom-power {
        padding: 0;
        margin-top: 8rem;
        display: flex;
        flex-direction: column;

        & .top-boot {
            display: flex;
            justify-content: space-between;
        }

        & .bottom-boot {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 4.5rem;

            & .bullet {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                display: inline-block;
                background-color: $color-primary;
                cursor: pointer;
                margin-right: 1rem;

                &:nth-child(3){
                    background-color: $color-button;
                }
            }

            .bullet-mood{
                width: 3rem;
                height: 3rem;
                background-color: $button-background;
                border-radius: .5rem;
                position: relative;
                transition: .3s;
                cursor: pointer;

                &:not(:last-child){
                    margin-right: 1rem;
                }

                &:hover{
                    background-color: $color-primary;
                }

                &:hover i{
                    color: $color-button;
                }

                &:active i{
                    color: $color-white;
                }

                & i{
                    font-size: 1.7rem;
                    font-weight: 500;
                    color: $color-white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: .3s;
                }
            }
        }

    }
}