.section-main {
    background-image: url(../img/home-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    &:hover .angel-left i, &:hover .angel-right i{
        visibility: visible;
        opacity: 1;
    }

    & .angel-left{
        width: 6rem;
        height: 6rem;
        position: relative;
        transition: .3s;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 3rem;

        &:hover{
            background-color: $color-primary;
            border-radius: .5rem;
        }

        &:hover i{
            color: $color-button;
        }

        &:active i{
            color: $color-white;
        }

        & i{
            font-size: 4rem;
            font-weight: 500;
            color: $color-white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: .3s;
            visibility: hidden;
            opacity: 0;
            transition: .3s;
        }
    }

    & .angel-right{
        width: 6rem;
        height: 6rem;
        position: relative;
        transition: .3s;
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 3rem;

        &:hover{
            background-color: $color-primary;
            border-radius: .5rem;
        }

        &:hover i{
            color: $color-button;
        }

        &:active i{
            color: $color-white;
        }

        & i{
            font-size: 4rem;
            font-weight: 500;
            color: $color-white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            visibility: hidden;
            opacity: 0;
            transition: .3s;
        }
    }


































    & .mind-fixed {
        width: 100%;
        height: 88rem;
        position: relative;

        & .section-box {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(0%, -50%);

            & .heading-box {
                font-family: $font-lato;
                font-size: 7.8rem;
                font-weight: 900;
                text-transform: uppercase;
                color: $color-white;
                letter-spacing: .7rem;
            }

            & .pra-box {
                font-size: 2.4rem;
                color: $color-grey-text-light;
                margin-top: 3.7rem;
                margin-bottom: 7.0rem;
                letter-spacing: .2rem;
            }

            & a {
                padding: 2.5rem 7.2rem;
                background-color: $color-button;
                color: $color-white;
                font-size: 1.8rem;
                font-weight: 700;
                text-decoration: none;
                display: inline-block;
                text-transform: uppercase;
                border-radius: .5rem;
                transition: .3s;

                &:hover{
                    background-color: $color-button-hover;
                }

            }
        }
    }


}