// color
$color-primary: #506A85;
$color-secondary: #73879C;

$color-white: #fff;

$color-grey-text-light: #A3B1BF;
$color-grey-text-medium: #707E8C;
$color-grey-text-dark: #4E5C6C;

$color-grey-background-light: #4E5C6C;
$color-grey-background-medium: #2F4052;
$color-grey-background-dark: #283645;
$color-section-background: #F2F5F7;

$color-button: #00BC9C;
$color-button-hover: #17A78B;
$button-background: #C9D2DA;
$color-position: #3C5065;
$color-middle-position: #949BA2;
$color-placeholder: #828E99;

// font

$font-root: 62.5%;
$font-default: 1.6rem;

$font-source: 'Source Sans Pro', sans-serif;
$font-lato: 'Lato', sans-serif;