@import "variable";
@import "function";
@import "mixin";
@import "base";
@import "polo-css";
@import "header";
@import "section-main";
@import "section-start";
@import "section-power";
@import "section-end";
@import "footer";





.fixed-box {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-position;
    text-decoration: none;
    border-radius: .5rem;
    position: fixed;
    right: 2rem;
    bottom: 2.2rem;

    & i {
        font-size: 2.5rem;
        font-weight: 500;
        color: $color-middle-position;
    }
}
